@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* html,
body {
  height: 100%;
} */

/* body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
} */

.form-signin {
  max-width: 400px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin .middle {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-signin .bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.invalid {
  color: red;
  margin-bottom: 0px 0px 12px 0px;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

a {
  text-decoration: none;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 700px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #a683e3;
  text-align: center;
}

.sidebar-heading {
  background-color: #a683e3;
  text-align: center;
  padding: 8px;
  color: white;
  border-radius: 5px;
  align-self: center;
  margin: 50px auto;
}

/* .item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
} */

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 5px;
  font-size: 1.3rem;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px;
  font-weight: bolder;
  font-size: x-large;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  background-color: #555;
  border-radius: 5px;
}

.container {
  display: flex;
  flex: 1;
}

/* .sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  width: 200px;
  height: 100%;
} */
.offcanvas {
  max-width: 320px;
}
.sidebar h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 5px;
  margin-bottom: 5px;
  width: 85%;
}

.sidebar a:hover {
  background-color: #ddd;
  border-radius: 5px;
  width: 85%;
}

main {
  flex: 1;
  padding: 10px;
}

.box {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
}

.item input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Add this CSS for the form in the sidebar */
.sidebar form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar form input {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

body form button {
  padding: 5px 10px;
  min-height: 15px;
  background-color: #a683e3;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.sidebar form.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

/* list item delete button */
.sidebar .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
}

.sidebar .list-item button:hover {
  background-color: #c82333;
}

.sidebar .list-item button {
  padding: 5px 10px;
  min-height: 15px;
  background-color: #a683e3;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  padding: 5px 10px;
  min-height: 15px;
  background-color: #a683e3;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #8c63d2;
  /* border-color: #8c63d2; */
}

button:hover {
  background-color: #8c63d2;
}

.align {
  width: 100%;
  text-align: center;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lists-container {
  flex-grow: 1;
}
