<div class="v-align text-center">
  <main class="form-signin w-300">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Heading -->
      <h1 class="h3 mb-3 fw-normal">Log In</h1>
      <h6>All fields are required</h6>

      <!-- Email input field -->
      <div class="form-floating">
        <input
          type="email"
          class="form-control top"
          id="floatingInput"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="floatingInput">Email address*</label>
        <!-- Email validation messages -->
        <p
          class="invalid"
          *ngIf="email!.invalid && (email!.touched || email!.dirty)"
        >
          <span *ngIf="email!.errors?.['required']">E-Mail is required!</span>
        </p>
      </div>

      <!-- Password input field -->
      <div class="form-floating">
        <input
          type="password"
          class="form-control bottom"
          id="floatingPassword"
          placeholder="Password"
          formControlName="password"
        />
        <label for="floatingPassword1">Enter Password*</label>
        <!-- Password validation messages -->
        <p
          class="invalid"
          *ngIf="password!.invalid && (password!.touched || password!.dirty)"
        >
          <span *ngIf="password!.errors?.['required']"
            >Password is required!</span
          >
        </p>
      </div>

      <!-- Login button -->
      <button
        class="w-100 btn btn-lg btn-primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        LogIn
      </button>
      <!-- Registration link -->
      <p>
        Don't have an account ?
        <a routerLink="/registration">Register</a>
      </p>
    </form>
  </main>
</div>
