<body>
  <!-- Navigation bar -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <!-- Button to toggle sidebar -->
      <div>
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"
        >
          List Menu
        </button>
      </div>

      <!-- Search form -->
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-- Sidebar with to-do lists -->
  <div
    class="offcanvas offcanvas-start sidebar"
    data-bs-scroll="true"
    tabindex="-1"
    id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel"
  >
    <div class="offcanvas-header">
      <!-- Sidebar heading -->
      <h2 class="sidebar-heading">My To Do Lists</h2>
      <!-- Close button for sidebar -->
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <!-- Form to create a new list -->
      <form
        class="new-list-form"
        (submit)="createNewList(); $event.preventDefault()"
      >
        <input
          type="text"
          [(ngModel)]="newListName"
          name="newList"
          placeholder="Create New List"
          autocomplete="off"
        />
        <button type="submit">+</button>
      </form>
      <!-- Container to display all lists -->
      <div class="lists-container">
        <!-- Iterate over all lists and display them -->
        <div class="list-item" *ngFor="let list of allLists">
          <a (click)="selectList(list)">{{ list.name }}</a>
          <button type="button" (click)="deleteList(list.id)">X</button>
        </div>
      </div>
      <!-- Log out link -->
      <div class="mt-5">
        <a href="" class="align" (click)="logout()">Log out</a>
      </div>
    </div>
  </div>

  <!-- Main content area -->
  <main>
    <div class="box" id="heading">
      <!-- Display the current date -->
      <h1>{{ currentDate | date }}</h1>
      <!-- Display the name of the selected list -->
      <h1 *ngIf="selectedList">{{ selectedList.name }}</h1>
    </div>
    <div class="box">
      <!-- Iterate over newListItems and display them -->
      <ng-container *ngFor="let item of newListItems">
        <form (submit)="deleteItem(item.id); $event.preventDefault()">
          <div class="item">
            <input type="checkbox" (click)="deleteItem(item.id)" />

            <p>{{ item.name }}</p>
          </div>
        </form>
      </ng-container>
      <!-- Form to create a new item -->
      <form class="item" (submit)="createNewItem(); $event.preventDefault()">
        <input
          type="text"
          [(ngModel)]="newItemName"
          name="newItem"
          placeholder="Add New To Do ..."
          autocomplete="off"
        />
        <button type="submit">+</button>
      </form>
    </div>
  </main>
</body>
